@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&family=Titan+One&display=swap');

$title-color: #374151;
$title-font-family: 'Titan One';
$font-family: 'Noto Sans TC';
$title-letter-space: 4px;

@mixin titleFontSet {
  color: $title-color;
  font-family: $title-font-family;
  letter-spacing: $title-letter-space;
}